<!DOCTYPE html>
<html>
    <head>
        <title>Board</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <style>
            table { width:50%;}
            table tr td{border:1px solid #ccc;}
            table tr td:nth-child(1) {width:20%;}
            table tr td:nth-child(2) {width:60%;}
            table tr td:nth-child(3) {width:20%;}
        </style>
    </head>
    <body>
        <h1>NodeJs 게시판</h1>
        <hr />

        <table>
            <tr>
                <td>작성자</td>
                <td>글 제목</td>
                <td>글 번호</td>
            </tr>
            <% for(var ix=0; ix<data.length; ++ix){
                
                
                console.log ( data[ix].author , data[ix].no , data[ix].title);
            %>
            <tr>
                <td charset="UTF-8"><%= data[ix].author %></td>
                <td><a href="/board/<%= data[ix].no %>"><%= data[ix].title %></a></td>
                <td><%= data[ix].no %></td>
            </tr>
            <% }%>
        </table>
    </body>
</html>